* {
    box-sizing: border-box;
}

/* Login popup start */
/* The popup form - hidden by default */
.form-popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
}

/* Add styles to the form container */
.form-container {   
    min-width: 350px; 
    max-width: 400px; 
    min-height: 420px;  
    max-height: 520px; 
    padding: 20px;          
    background-color: white; 
    transform: scale(1.1); 
    border: 3px solid #556b2f;
    border-radius: 10px;
    overflow: auto;
}

/* Header styles */
.header {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding-bottom: 25px;
    padding-top: 10px;
}

/* Close button styles */
.close-btn {
    cursor: pointer;
    font-size: 24px; 
    color: #556b2f; 
    margin-top: -20px;
    margin-right: 5px;
}


/* Input styles */
.form-container input[type=text], .form-container input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
    border-radius: 10px;
}

/* Input focus styles */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}


.button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 10px; 
}


.form-container .btn {
    background-color:  #556b2f;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    flex: 0.8; 
    opacity: 0.8;
}

.form-container .btn.cancel {
    margin-right: 0; 
}

.forgot-password-link {
    display: flex; 
    align-items: center; 
    color: #45a6f6; 
    text-decoration: none; 
    margin-left: 10px;
}

.forgot-password-link:hover {
    text-decoration: underline; 
}

.form-container .btn:hover, .open-button:hover {
    opacity: 1;
}
/* Login popup end */


/* Styles for buttons and anchor tags that look like buttons */
.popup-content button, 
.popup-content a { 
    background-color: #556b2f;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    opacity: 0.9;
    text-decoration: none; 
    display: inline-block; 
}

.popup-content button:hover, 
.popup-content a:hover { 
    opacity: 1;
}

a {
    cursor: pointer;
}
