<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    
    <!-- Static CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/account-popup.css') }}"></script>
    {% block styles %}{% endblock %}

    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <header>
        <!-- Navbar -->
        <nav class="navbar navbar-expand bg-dark border-bottom border-body" data-bs-theme="dark">
            <div class="container-fluid">    
                <a class="navbar-brand" href="{{ url_for('homepage') }}">
                    <i class="bi bi-calculator"></i>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('calculate_page') }}">Calculate</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('forums_page') }}">Forums</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('about_page') }}">About</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="bi bi-person-circle"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end">
                                <li><a class="dropdown-item" onclick="openLoginForm()">Login</a></li>
                                <li><a class="dropdown-item" onclick="openCreateAccountForm()">Create Account</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- Login Popup Form -->
            <div class="form-popup" id="login-form">
                <form action="#" class="form-container">
                    <div class="header">
                        <h2>Login</h2>
                        <span class="close-btn" onclick="closeLoginForm()">&times;</span> 
                    </div>
                    
                    <label for="email">Username</label>
                    <input type="text" name="login-username" required>
                    
                    <label for="psw">Password</label>
                    <input type="password" name="login-password" required>
                    
                    <div class="button-container">
                        <button type="submit" class="btn">Login</button>
                        <a href="#" class="forgot-password-link">Forgot Password?</a> 
                    </div>
                </form>
            </div>
            <!-- Create Account Popup Form -->
            <div class="form-popup" id="create-account-form">
                <form action="#" class="form-container">
                    <div class="header">
                        <h2>Create your Account</h2>
                        <span class="close-btn" onclick="closeCreateAccountForm()">&times;</span> 
                    </div>

                    <label for="username">Username</label>
                    <input type="text" name="username" required>

                    <label for="email">Email address</label>
                    <input type="email" name="email" required>
                    
                    <label for="password">Password</label>
                    <input type="password" name="password" required>

                    <label for="confirm-password">Confirm Password</label>
                    <input type="password" name="confirm-password" required>

                    <label for="first-name">First Name</label>
                    <input type="text" name="first-name" required>

                    <label for="last-name">Last Name</label>
                    <input type="text" name="last-name" required>
                    
                    <div class="button-container">
                        <button type="submit" class="btn">Create Account</button>
                    </div>
                </form>
            </div>
        </nav>
    </header>

    <main>
        <div class="content">
            {% block content %}{% endblock %}
        </div>
    </main>

    <!--
    <footer style="width: 100%; background-color: black; color: white; text-align: center; padding: 10px 0; position: relative;">
        <p>&copy; 2024 Carbon Footprint Calculator. All rights reserved.</p>
    </footer>
    -->

    <!-- Bootstrap CSS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <!-- JS script for Account -->
    <script src="{{ url_for('static', filename='js/account/account-popup.js') }}"></script>
</body>
</html>