{% extends "base.html" %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/timeline.css') }}">
{% endblock %}

{% block title %}Social Media{% endblock %}

{% block content %}
    <div class="top-bar">
        <h4>Timeline</h4>
    </div>

    <hr class="section-divider">
    
    <div id="container">
        <div class="main">
            <ol></ol>
            <hr class="section-divider">
            <div class="create-thread">
                <textarea id="thread-title" class="thread-title" placeholder="Thread Title"></textarea>
                <textarea id="thread-content" class="content" placeholder="Content"></textarea>
                <button id="create-thread-btn">Create Thread</button>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/social-media/timeline.js')}}"></script>
{% endblock %}