{% extends "base.html" %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/testpage.css') }}">
{% endblock %}

{% block title %}Calculate{% endblock %}

{% block content %}

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <h3>Carbon Footprint Calculator</h3>
    <form id="car-form" method="POST">
        <table id="car-form-table">
            <tr>
                <th>Year</th>
                <th>Manufacturer</th>
                <th>Model</th>
                <th>Mileage</th>
                <th>MPG</th>
            </tr>
            <tr>
                <td><input type="text" id="year1" name="year" value="2010"></td>
                <td><input type="text" id="manufacturer1" name="manufacturer" value="Toyota"></td>
                <td><input type="text" id="model1" name="model" value="Camry"></td>
                <td><input type="text" id="mileage1" name="mileage" value="15000"></td>
                <td><input type="text" id="mpg1" name="mpg" value="28"></td> 
            </tr>
            <tr>
                <td><input type="text" id="year2" name="year" value="2015"></td>
                <td><input type="text" id="manufacturer2" name="manufacturer" value="Honda"></td>
                <td><input type="text" id="model2" name="model" value="Civic"></td>
                <td><input type="text" id="mileage2" name="mileage" value="15000"></td>
                <td><input type="text" id="mpg2" name="mpg" value="32"></td> 
            </tr>
            <tr>
                <td><input type="text" id="year3" name="year" value="2020"></td>
                <td><input type="text" id="manufacturer3" name="manufacturer" value="Ford"></td>
                <td><input type="text" id="model3" name="model" value="Fusion"></td>
                <td><input type="text" id="mileage3" name="mileage" value="15000"></td>
                <td><input type="text" id="mpg3" name="mpg" value="30"></td> 
            </tr>
            <tr>
                <td><input type="text" id="year4" name="year" value="2018"></td>
                <td><input type="text" id="manufacturer4" name="manufacturer" value="Chevrolet"></td>
                <td><input type="text" id="model4" name="model" value="Malibu"></td>
                <td><input type="text" id="mileage4" name="mileage" value="15000"></td>
                <td><input type="text" id="mpg4" name="mpg" value="27"></td> 
            </tr>  
            <tr>
                <td><input type="text" id="year5" name="year" value="2012"></td>
                <td><input type="text" id="manufacturer5" name="manufacturer" value="Nissan"></td>
                <td><input type="text" id="model5" name="model" value="Altima"></td>
                <td><input type="text" id="mileage5" name="mileage" value="15000"></td>
                <td><input type="text" id="mpg5" name="mpg" value="29"></td> 
            </tr>  
            <tr>
                <td><input type="text" id="year6" name="year" value="2016"></td>
                <td><input type="text" id="manufacturer6" name="manufacturer" value="Hyundai"></td>
                <td><input type="text" id="model6" name="model" value="Elantra"></td>
                <td><input type="text" id="mileage6" name="mileage" value="15000"></td>
                <td><input type="text" id="mpg6" name="mpg" value="33"></td> 
            </tr>  
            <tr>
                <td><input type="text" id="year7" name="year" value="2014"></td>
                <td><input type="text" id="manufacturer7" name="manufacturer" value="BMW"></td>
                <td><input type="text" id="model7" name="model" value="3 Series"></td>
                <td><input type="text" id="mileage7" name="mileage" value="15000"></td>
                <td><input type="text" id="mpg7" name="mpg" value="25"></td>
            </tr>  
            <tr>
                <td><input type="text" id="year8" name="year" value="2024"></td>
                <td><input type="text" id="manufacturer8" name="manufacturer" value="Acura"></td>
                <td><input type="text" id="model8" name="model" value="Integra"></td>
                <td><input type="text" id="mileage8" name="mileage" value="15000"></td>
                <td><input type="text" id="mpg8" name="mpg" value="33"></td> 
            </tr>
            <tr>
                <td><input type="text" id="year9" name="year" value="2019"></td>
                <td><input type="text" id="manufacturer9" name="manufacturer" value="Mazda"></td>
                <td><input type="text" id="model9" name="model" value="CX-5"></td>
                <td><input type="text" id="mileage9" name="mileage" value="15000"></td>
                <td><input type="text" id="mpg9" name="mpg" value="28"></td> 
            </tr>  
            <tr>
                <td><input type="text" id="year10" name="year" value="2013"></td>
                <td><input type="text" id="manufacturer10" name="manufacturer" value="Kia"></td>
                <td><input type="text" id="model10" name="model" value="Sorento"></td>
                <td><input type="text" id="mileage10" name="mileage" value="15000"></td>
                <td><input type="text" id="mpg10" name="mpg" value="24"></td> 
            </tr>
            <tr>
                <td><button type="submit" id="Submit">Get Results</button></td>
            </tr>
        </form>
    </table><br>

    <div id="result-calc">
        <p><b>Total Carbon Footprint (lbs):</b> <span id="total-emissions">0</span></p> 
    </div>
    
    <!-- divs that will hold the charts -->
    <div id="pie_chart_div"></div>
    <div id="line_chart_div"></div>
    <div id="geo_chart_div"></div>

    <!-- Javascript Import -->
    <script type="module" src="{{ url_for('static', filename='js/results/index.js') }}"></script>
{% endblock %}